<!DOCTYPE html>
<html>
    <head>
        <title>Video Stream Website</title>
        <script src="script/script.js"></script>
        <link rel="stylesheet" type="text/css" href="style/index.css"/>
        <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
    </head>
    <body>
        <div id="main_banner">
            TODO banner
        </div>

        <div id="main_body">
            <div id="back_button_wrapper" class="hidden" onclick="back()">
                <img src="img/back.png">
            </div>
            <div id="message_wrapper">
                <div id="error_message" class="hidden">There seems to be an error.</div>
                <div id="empty_message" class="hidden">There is nothing to display.</div>
            </div>
            <div id="video_wrapper"></div>
            <div id="menu_wrapper"></div>
        </div>

        <div id="main_footer">
            This is an experimental website.
        </div>
    </body>
</html>
