<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Video Stream Website</title>
        <link rel="stylesheet" type="text/css" href="style/index.css"/>
        <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
        <script src="script/script.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="main_banner">
            <div id="banner_content">
                <p>Video Stream Website</p>
                <div id="banner_images">
                </div>
            </div>
        </div>

        <div id="load_screen">
            <div class="lds-hourglass"></div>
        </div>

        <div id="main_body">
            <div id="back_button_wrapper" class="gone" onclick="back()">
                <img src="img/back.png">
            </div>
            <div id="message_wrapper">
                <div id="error_message" class="gone">There seems to be an error.</div>
                <div id="empty_message" class="gone">There is nothing to display.</div>
            </div>
            <div id="video_wrapper"></div>
            <div id="menu_wrapper"></div>
        </div>

        <div id="main_footer">
            This is an experimental website.
        </div>
    </body>
</html>
